name: Downstream Scan Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  content-scan:
    uses: iamgini/ansible-content-scanning-pipeline/.github/workflows/main-pipeline.yml@main
    secrets: inherit
